.container--areas {
    margin: 0 auto;
    width: 100%;
    padding: 0 100px;
}

.container--areas-title {
    margin: 50px 0 40px;
    padding: 0;
    width: 100%;
    text-align: center;
}
.container--areas-title h3 {
    color: var(--title-color);
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 2.5rem;
}

.container--areas-title p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container--areas-title p img {
    width: 2%;
}

.container--areas-title p::before,
.container--areas-title p::after {
    content: "";
    height: 4px;
    border-bottom: 1px solid var(--decoration-color);
    top: 0;
    width: 80px;
}

.container--areas-title p::before {
    margin-right: 10px;
}
.container--areas-title p::after {
    margin-left: 10px;
}

#areas {
    width: 100%;
    margin: 0 0 150px 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 200px);
    grid-gap: 20px;
}

.areas--depto {
    background-image: linear-gradient(to right, rgba(var(--primary-color-rgba), 0.85) 40%, rgba(var(--primary-color-rgba), 0.7)), url(https://cdn.24.co.za/files/Cms/General/d/4746/3537fb30c0784830b02465ae331d2454.jpg);
    background-size: 25rem;
    font-size: 3rem;    
    padding: 1rem;
    border-radius: 7px;
    box-shadow: 2px 4px 8px 2px rgba(var(--black-color-rgba), 0.15);
    overflow: hidden;
    position: relative;
    transition: all .3s ease;
}

.areas--depto:nth-child(2), .areas--depto:nth-child(6), .areas--depto:nth-child(7) {
    background-image: linear-gradient(to right, rgba(var(--dos-rgb), 0.85) 40%, rgba(var(--dos-rgb), 0.7)), url(https://cdn.24.co.za/files/Cms/General/d/4746/3537fb30c0784830b02465ae331d2454.jpg);
}
.areas--depto:nth-child(3), .areas--depto:nth-child(8) {
    background-image: linear-gradient(to right, rgba(var(--tres-rgb), 0.85) 40%, rgba(var(--tres-rgb), 0.7)), url(https://cdn.24.co.za/files/Cms/General/d/4746/3537fb30c0784830b02465ae331d2454.jpg);
}
.areas--depto:nth-child(4), .areas--depto:nth-child(9) {
    background-image: linear-gradient(to right, rgba(var(--cuatro-rgb), 0.85) 40%, rgba(var(--cuatro-rgb), 0.7)), url(https://cdn.24.co.za/files/Cms/General/d/4746/3537fb30c0784830b02465ae331d2454.jpg);
}

.areas--depto:hover .areas--depto-hover {
  top: 0%;
}

.areas--depto-hover {
    position: absolute;
    width: 100%;
    height: 200px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(66,120,217,1) 0%, rgba(4,176,210,1) 100%);
    top: 100%;
    left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 0;
    padding: 20px 10px 10px;
    transition: all .2s ease; 
}
.areas--depto-hover h3 {
    color: var(--white-color);
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 1.5rem;
}
.areas--depto-hover p {
    color: var(--white-color);
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: .9rem;
    line-height: 1.3;
}
.areas--depto-hover hr {
    width: 20%;
    margin: 19px 0;
    border: 1px solid #ffffff9e;
}

.areas--depto-hover a {
    text-align: center;
    color: var(--primary-color);
    background-color: var(--white-color);
    margin: auto 0 0 0;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: .8rem;
    box-shadow: 0px 6px 5px rgba(0, 0, 0, .1);
    transition: all .3s ease;
}
.areas--depto-hover a:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .05);
}

.areas--link {
    font-size: 1.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--white-color);
    font-weight: 400;
    padding: 0;
    margin: 0;
}