@import "general.css";
@import "index.css";
@import "area.css";

/* Media Queries */
@media only screen and (max-width: 1160px) {
    .navbar--menu, .navbar--contact {
        display: none;
    }
    #navbar {
        grid-template-columns: 1fr 1fr;
    }
    .navbar--logo-content {
        width: 35%;
        left: 30%;
    }

    .container--areas-title p img {
        width: 3%;
    }

    .container--areas {
        padding: 0 40px;
    }
    #areas {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 200px);
        grid-gap: 15px;
    }
    .areas--depto {
        background-size: 28rem;
    }
}

@media only screen and (max-width: 900px) {

    #header p {
        width: 80%;
    }

    .container--areas-title p img {
        width: 5%;
    }

    .container--areas {
        padding: 0 20px;
    }
    #areas {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 200px);
    }
    .areas--depto {
        background-size: 50rem;
    }
}

@media only screen and (max-width: 800px) {
    .navbar--logo-content {
        left: 40%;
        width: 50%;
        height: 130px;
    }
    .navbar--logo-content img {
        width: 70%;
    }
}

@media only screen and (max-width: 600px) {
    .navbar--logo-content {
        left: 40%;
        width: 70%;
        height: 130px;
    }
    .navbar--logo-content img {
        width: 85%;
    }
}