:root {
    --primary-color: #199bd5;
    --primary-color-rgba: 25, 155, 213;
    --secundary-color: #50a72c;
    --secundary-color-rgba: 80, 167, 44;
    --white-color: #ffffff;
    --black-color: #000000;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Josefin Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 100%;
    padding: 0 100px;
}

nav#navbar {
    width: 100%;
    height: 45px;
    border-bottom: 2px solid #ccc;
}
section#header {
    height: 150px;
    border-bottom: 2px solid #ccc;
}
section#aditionalInfo, section#footer {
    height: 80px;
    border-top: 2px solid #ccc;
}


#areas {
    width: 100%;
    margin: 50px 0 150px;
    padding: 20px;
    background-color: rgba(223, 231, 240, 0.507);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 200px);
    grid-gap: 15px;
}

.areas--depto {
    color: white;
    background-image: linear-gradient(to right, rgba(var(--primary-color-rgba), 0.8) 40%, rgba(var(--primary-color-rgba), 0.6)), url(https://cdn.24.co.za/files/Cms/General/d/4746/3537fb30c0784830b02465ae331d2454.jpg);
    font-size: 3rem;    
    padding: 1rem;
    border: 6px solid var(--white-color);
    border-radius: 7px;
    box-shadow: 5px 15px 14px -3px rgba(0, 0, 0, 0.2);
    overflow: hidden;

    /* Flexbox */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .2s ease;
}

.areas--depto:hover .areas--depto-hover {
  top: 0%;
}

.areas--depto-hover {
    position: absolute;
    width: 100%;
    height: 190px;
    background-color: #328f9c;
    top: 100%;
    transition: all .2s ease;
}

.areas--link {
    color: var(--white-color);
    font-weight: 400;
    /* font-size: 2rem; */
    padding: 10px 0 0 10px;
}

.areas--link i {
    font-size: 3rem;
}

#footer {
    width: 100%;
}