:root {
    --primary-color: #199bd5;
    --primary-color-rgba: 25, 155, 213;
    --secundary-color: #50a72c;
    --white-color: #ffffff;
    --black-color: #000000;
    --black-color-rgba: 0, 0, 0;

    /* Color por Areas */
    --franja: #4d0018;
    --franja-rgba: 79, 0, 25;
    --fuses: #0b3422;
    --fuses-rgba: 11, 52, 34;
    --cooperacion: #b17797;
    --cooperacion-rgba: 140, 143, 253;
    --sicyt: #0467f1;
    --sicyt-rgba: 6, 112, 250;
    --bienestar: #1d755d;
    --bienestar-rgba: 16, 120, 96;
    --academica: #1978bd;
    --academica-rgba: 25, 120, 189;
    --alumnado: #b7ae63;
    /* --alumnado-rgba: 25, 120, 189; */
    --posgrado: #1cb7b3;
    --posgrado-rgba: 28, 183, 179;
    --virtual: #1d755d;
    --virtual-rgba: 16, 120, 96;
        
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Josefin Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #40abd30f !important;
}

a {
    text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6, p  {
    margin: 0 !important;
}

ul {
    list-style: none;
}

/* --------------- Preloader --------------- */
#preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;
    background-color: rgba(255, 255, 255, 1);
    transition: all 1s ease;
}
svg {
    width: 10%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.cls-1 {
    fill: rgba(23, 155, 213, 0);
    stroke:#179bd5;
    stroke-miterlimit:10;
    stroke-width:2px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: animate 3s linear forwards;
}
@keyframes animate {
    0% {
        stroke-dashoffset: 1000;						
    }
    40% {						
        fill: rgba(23, 155, 213, 0);
    }
    100% {
        fill: rgba(23, 155, 213, 1);
        stroke-dashoffset: 0;
    }
}

.cls-2 {
    fill: rgba(80, 167, 44, 0);
    stroke:#50a72c;
    stroke-miterlimit:10;
    stroke-width:2px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: animate2 3s linear forwards;
}
@keyframes animate2 {
    0% {
        stroke-dashoffset: 1000;
    }
    40% {
        fill: rgba(80, 167, 44, 0);
    }
    100% {
        fill: rgba(80, 167, 44, 1);
        stroke-dashoffset: 0;
    }
}
/* --------------- End Preloader --------------- */

/* --------------- Menu --------------- */
#navbar {
    width: 100%;
    padding: 15px 50px;
    margin: 0;
    background-color: var(--white-color);
    box-shadow: 0px 2px 5px rgba(var(--black-color-rgba), 0.2);
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 35px;
    grid-template-areas: 
    "logo titulo nav";
    grid-gap: 5px;
}
.navbar--logo {
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
    grid-area: logo;
}
.navbar--logo img {
    width: 2.3em;
}

.navbar--title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: bolder;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 30px;
    grid-area: titulo;
}

.navbar--icon {
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
    grid-area: nav;
    font-size: 1.3rem;
    color: var(--primary-color);
    cursor: pointer;
}
.navbar--icon-mobile {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    color: var(--white-color);
    background-color: var(--primary-color);
    cursor: pointer;
}
/* --------------- End Menu --------------- */

/* --------------- Menu responsive --------------- */
.menu__mobile {
    background-color: var(--primary-color);
    width: 100%;
    height: 100vh;
    padding: 20px;
    position: fixed;
    left: -100%;
    opacity: 0;
    z-index: 10000;

    transition: all .3s ease;
}

.icon-responsive, .menu__close {
    cursor: pointer;
}

.menu__close {
    position: absolute;
    top: 2%;
    left: 5%;
}
.menu__close i {
    font-size: 2rem;
    font-weight: lighter;
    color: var(--white-color);
}

.menu__items {
    position: absolute;
    top: 20%;
    left: 10%;
}
.menu__list {
    list-style: none;
}
.menu__list-item {
    margin-bottom: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.item1, .item2, .item3, .item4, .item5 {
    opacity: 0;
    transition: all .3s ease;
}

.menu__list-item a {
    color: var(--white-color);
    font-size: 2.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menu__list-item a i {
    color: var(--white-color);
    font-size: 1.2rem;
    margin-right: 10px !important;
}
.menu__list-item i {
    color: var(--white-color);
    font-size: 1.2rem;
    margin-left: 20px;
}

.menu__info {
    position: absolute;
    bottom: 5%;
    left: 10%;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__contact {
    font-size: 1.1rem;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}
.menu__contact i {
    margin-right: 10px;
}

.menu__contact-location {
    margin-bottom: 15px !important;
}

.menu__info a, .menu__info i {
    color: var(--white-color);
    font-weight: lighter;
}

.menu__socialMedia {
}
.menu__socialMedia i {
    font-size: 1.3em;
    margin: 0 8px;
}
/* --------------- End Menu responsive --------------- */

/* --------------- Header --------------- */
#header {
    height: auto;
    background-image: linear-gradient(to right, rgba(var( --black-color-rgba), 0.8) 40%, rgba(var( --black-color-rgba), 0.3)), url(https://cdn.24.co.za/files/Cms/General/d/4746/3537fb30c0784830b02465ae331d2454.jpg);
    background-color: tomato;
    background-size: cover;
    margin: 0;
    padding: 60px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#header h1 {
    color: var(--white-color);
    margin: 0;
    padding: 0;
    font-size: 3.5rem;
}

#header p {
    color: var(--white-color);
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    width: 40%;
    line-height: 1.4;
    font-weight: 300;
}

#header a {
    color: var(--white-color);
    margin: 10px 0 0 0;
    padding: 10px 20px;
    background-color: var(--secundary-color);
    border-radius: 3px;
}
/* --------------- End Header --------------- */

/* --------------- Footer --------------- */
#footer {
    width: 100%;
    height: 150px;
    background-color: #067cb1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.footer__logo {
    position: absolute;
    width: 60px;
    height: 60px;
    top: -22%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--white-color);
    border-radius: 50%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* --------------- End Footer --------------- */