:root {
    --primary-color: #199bd5;
    --primary-color-rgba: 25, 155, 213;
    --secundary-color: #50a72c;
    --secundary-color-rgba: 80, 167, 44;
    --white-color: #ffffff;
    --black-color: #000000;
    --black-color-rgba: 0, 0, 0;
    --decoration-color: #c7c7c7;
    --title-color: #353535;

    /* Color RGB */
    --dos-rgb: 255, 99, 71;
    --tres-rgb: 71, 255, 115;
    --cuatro-rgb: 164, 71, 255;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Josefin Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;
    background-color: rgba(255, 255, 255, 1);
    transition: all 1s ease;
}
svg {
    width: 10%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.menu__mobile {
    background-color: var(--primary-color);
    width: 100%;
    height: 100vh;
    padding: 20px;
    position: fixed;
    left: -100%;
    z-index: 10000;
}

.menu__close {
    position: absolute;
    top: 2%;
    left: 2%;
}
.menu__close i {
    font-size: 2rem;
    font-weight: lighter;
    color: var(--white-color);
}

.menu__items {
    position: absolute;
    top: 20%;
    left: 10%;
}
.menu__list {
    list-style: none;
}
.menu__list-item {
    margin-bottom: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.menu__list-item a {
    color: var(--white-color);
    font-size: 2.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menu__list-item a i {
    color: var(--white-color);
    font-size: 1.2rem;
    margin-right: 10px !important;
}
.menu__list-item i {
    color: var(--white-color);
    font-size: 1.2rem;
    margin-left: 20px;
}

.menu__info {
    position: absolute;
    bottom: 15%;
    left: 10%;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__contact {
    font-size: 1.1rem;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}
.menu__contact i {
    margin-right: 10px;
}

.menu__contact-location {
    margin-bottom: 15px !important;
}

.menu__info a, .menu__info i {
    color: var(--white-color);
    font-weight: lighter;
}

.menu__socialMedia {
}
.menu__socialMedia i {
    font-size: 1.3em;
    margin: 0 8px;
}

.cls-1 {
    fill: rgba(23, 155, 213, 0);
    stroke:#179bd5;
    stroke-miterlimit:10;
    stroke-width:2px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: animate 3s linear forwards;
}
@keyframes animate {
    0% {
        stroke-dashoffset: 1000;						
    }
    40% {						
        fill: rgba(23, 155, 213, 0);
    }
    100% {
        fill: rgba(23, 155, 213, 1);
        stroke-dashoffset: 0;
    }
}

.cls-2 {
    fill: rgba(80, 167, 44, 0);
    stroke:#50a72c;
    stroke-miterlimit:10;
    stroke-width:2px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: animate2 3s linear forwards;
}
@keyframes animate2 {
    0% {
        stroke-dashoffset: 1000;
    }
    40% {
        fill: rgba(80, 167, 44, 0);
    }
    100% {
        fill: rgba(80, 167, 44, 1);
        stroke-dashoffset: 0;
    }
}

a {
    text-decoration: none;
}

.navbar--logo-responsive, .icon-responsive {
    display: none !important;
}

#navbar {
    width: 100%;
    height: 45px;
    padding: 5px;
    margin: 0;
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 100%;
    grid-gap: 5px;
}

.navbar--menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}
.navbar--menu-item {
    color: var(--white-color);
    list-style: none;
}
.navbar--menu-item a,
.navbar--menu-item a:visited {
    color: var(--white-color);
}

.navbar--logo {
    position: relative;
}

.navbar--logo-content {
    background-color: var(--white-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 10px 10px;
}

.navbar--logo-content img {
    margin-top: 50px;
    width: 85%;
}

.navbar--contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}
.navbar--contact-item {
    color: var(--white-color);
    margin: 0;
    padding: 0;
}
.navbar--contact-item i {
    margin-right: 10px;
}

section#header {
    height: 400px;
    background-image: linear-gradient(to right, rgba(var( --black-color-rgba), 0.8) 40%, rgba(var( --black-color-rgba), 0.3)), url(https://cdn.24.co.za/files/Cms/General/d/4746/3537fb30c0784830b02465ae331d2454.jpg);
    background-color: tomato;
    background-size: cover;
    margin: 0;
    padding: 0 0 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#header h1 {
    color: var(--white-color);
    margin: 0;
    padding: 0;
    font-size: 3.5rem;
}

#header p {
    color: var(--white-color);
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    width: 40%;
    line-height: 1.4;
    font-weight: 300;
}

section#headerArea {
    height: 247px;
    background-image: linear-gradient(to right, rgba(var( --black-color-rgba), 0.8) 40%, rgba(var( --black-color-rgba), 0.3)), url(https://cdn.24.co.za/files/Cms/General/d/4746/3537fb30c0784830b02465ae331d2454.jpg);
    background-color: tomato;
    background-size: cover;
    margin: 0;
    padding: 0 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#headerArea h1 {
    color: var(--white-color);
    margin: 0 0 15px 0;
    padding: 0;
    font-size: 2rem;
}

.headerArea__content {
    color: var(--white-color);
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    width: 40%;
    line-height: 1.4;
    font-weight: 300;
    text-align: center;
}
.headerArea__bread {
    width: auto;
    background-color: #77777773;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 25px 0 0 0;
    padding: 8px 15px 6px;
    font-size: .9rem;
}
.headerArea__bread a, .headerArea__bread a:active, .headerArea__bread a:visited {
    color: #d8d7d7;
    text-decoration: underline;
}
.headerArea__bread a:hover, .headerArea__bread a:focus {
    text-decoration: none;
}

.headerArea__bread p, .headerArea__bread span {
    color: var(--white-color);
    margin-left: 10px;
}

#header a {
    color: var(--white-color);
    margin: 10px 0 0 0;
    padding: 10px 20px;
    background-color: var(--secundary-color);
    border-radius: 3px;
}

#footer {
    width: 100%;
    height: 150px;
    background-color: #067cb1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.footer__logo {
    position: absolute;
    width: 60px;
    height: 60px;
    top: -22%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--white-color);
    border-radius: 50%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#otrosSitios {
    width: 100%;
    height: 220px;
    background-image: linear-gradient(to right, rgba(var( --black-color-rgba), 0.9) 40%, rgba(var( --black-color-rgba), 0.8)), url(https://cdn.24.co.za/files/Cms/General/d/4746/3537fb30c0784830b02465ae331d2454.jpg);
    background-color: #5b2bff;
    display: grid;
    grid-template-columns: repeat(4, calc(70%/4));
    justify-content: center;
    align-items: center;
}

#otrosSitios img {
    width: 80%;
    margin: 0 20px;
    filter: grayscale(1);
    transition: all .3s ease;
}

#otrosSitios img:hover {
    filter: grayscale(0);
}