/* ----------------- CONTAINER AREA ----------------- */
.container--areas {
    margin: 0 auto;
    width: 100%;
    padding: 0 35px;
}

.container--areas-title {
    margin: 50px 0 0px;
    padding: 0;
    width: 100%;
    text-align: center;
    background: var(--primary-color);
    border-radius: 5px 5px 0 0;
}

.container--areas-title h3 {
    letter-spacing: 5px;
    color: #ffffff;
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 1rem;
    text-shadow: 2px 2px 2px rgb(25, 120, 165);
}
/* ----------------- END CONTAINER AREA ----------------- */

/* ----------------- DESTACADOS ----------------- */
.principal {
    border: 2px solid var(--primary-color);
    background-color: var(--white-color);
    padding: 10px 4px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 3px 3px 7px 0px rgb(25, 155, 213, .3);
}

.principal-item, .principal-item:visited, .principal-item:active {
    color: var(--primary-color);
    background-color: var(--white-color);
    border: 1px solid var(--primary-color);
    padding: 10px;
    display: block;
    border-radius: 5px;
    transition: all .3s ease;
}

.principal-item:hover {
    box-shadow: 4px 5px 12px #199bd5a8;
    background: var(--primary-color);
    color: white;
}
/* ----------------- END DESTACADOS ----------------- */

#areas {
    width: 100%;
    margin: 0 0 150px 0;
    padding: 17px 4px 0;
    background: white;
    border: 2px solid var(--primary-color);
    border-radius: 0 0 5px 5px;
    box-shadow: 3px 3px 7px 0px rgb(25, 155, 213, .3);
}

.areas--depto ul {
    background-color: #199bd514;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-bottom: 2px solid var(--primary-color);
    border-left: 2px solid var(--primary-color);
    border-right: 2px solid var(--primary-color);
}

.areas--depto ul li {
    border-bottom: 1px solid var(--primary-color);
    transition: all .3s ease;
}
.areas--depto ul li:last-child {
    border-bottom: none !important;
    border-radius: 0 0 5px 5px;
}
.areas--depto ul li:hover {
    background-color: #d7effb;
}

.areas--depto ul li a, .areas--depto ul li a:visited, .areas--depto ul li:hover a {
    color: #0e6890;
    font-weight: 400;
    width: 100%;
    display: inline-block;
    padding: 20px 10px;
}

.areas--depto-list, .areas--depto-list:hover {
    padding: 11px 9px;
    background: #06b189 !important;
    color: white;
}
.areas--depto-listItem {
    background: #06b18963;
    color: #036b53;
}

.areas--link {
    background-image: linear-gradient(to right, rgba(var(--primary-color-rgba), 0.95) 50%, rgba(var(--primary-color-rgba), 0.6))/*, url(https://cdn.24.co.za/files/Cms/General/d/4746/3537fb30c0784830b02465ae331d2454.jpg)*/;
    background-size: 27rem;
    background-repeat: no-repeat;
    background-position: center left;
    padding: 0.8rem 1rem 1.5rem;
    text-align: left;
    font-size: 1.3rem;
    color: var(--white-color);
    font-weight: 400;
    cursor: pointer;
    text-shadow: 2px 2px 2px rgb(25, 120, 165);
    transition: all .3s ease;
}
.areas--link:hover {
    background-image: linear-gradient(to right, rgba(var(--primary-color-rgba), 0.95) 60%, rgba(var(--primary-color-rgba), 0.6))/*, url(https://cdn.24.co.za/files/Cms/General/d/4746/3537fb30c0784830b02465ae331d2454.jpg)*/;
    background-size: 29rem;
}
.areas--link span {			
    font-size: .85rem;
    line-height: 1.5;
    background: var(--white-color);
    color: var(--primary-color);
    padding: 7px 10px 3px;
    border-radius: 30px;
    font-weight: 600;
    text-shadow: none;
    margin-bottom: 15px;
    display: inline-block;
}

/* Color FRANJA */
[color="franja"] {
    background-image: linear-gradient(to right, rgba(var(--franja-rgba), 0.95) 50%, rgba(var(--franja-rgba), 0.6)), url('../images/franja.png');
    text-shadow: 2px 2px 2px #1d0009;
}
[color="franja"]:hover {
    background-image: linear-gradient(to right, rgba(var(--franja-rgba), 0.95) 60%, rgba(var(--franja-rgba), 0.6)), url('../images/franja.png');
}
[color="franja"] span {
    color: var(--franja);
}
[color="franja-list"] {
    border-bottom: 1px solid var(--franja) !important;
    border-left: 1px solid var(--franja) !important;
    border-right: 1px solid var(--franja) !important;
}
[color="franja-list"] li {
    border-bottom: 1px solid var(--franja) !important;
}

[color="franja-list"] a {
    color: var(--franja) !important;
}
/* End Color FRANJA */

/* Color FUSES */
[color="fuses"] {
    background-image: linear-gradient(to right, rgba(var(--fuses-rgba), 0.95) 50%, rgba(var(--fuses-rgba), 0.6)), url('../images/fuses.png');
    text-shadow: 2px 2px 2px #072317;
}
[color="fuses"]:hover {
    background-image: linear-gradient(to right, rgba(var(--fuses-rgba), 0.95) 60%, rgba(var(--fuses-rgba), 0.6)), url('../images/fuses.png');
}
[color="fuses"] span {
    color: var(--fuses);
}
[color="fuses-list"] {
    border-bottom: 1px solid var(--fuses) !important;
    border-left: 1px solid var(--fuses) !important;
    border-right: 1px solid var(--fuses) !important;
}
[color="fuses-list"] li {
    border-bottom: 1px solid var(--fuses) !important;
}

[color="fuses-list"] a {
    color: var(--fuses) !important;
}
/* End Color FUSES */

/* Color Cooperacion */
[color="cooperacion"] {
    background-image: linear-gradient(to right, rgba(var(--cooperacion-rgba), 0.7) 60%, rgba(var(--cooperacion-rgba), 0.6)), url('../images/cooperacion.png');
    text-shadow: 2px 2px 2px #905a78c2;
}
[color="cooperacion"]:hover {
    background-image: linear-gradient(to right, rgba(var(--cooperacion-rgba), 0.8) 60%, rgba(var(--cooperacion-rgba), 0.6)), url('../images/cooperacion.png');
}
[color="cooperacion"] span {
    color: var(--cooperacion);
}
[color="cooperacion-list"] {
    border-bottom: 1px solid var(--cooperacion) !important;
    border-left: 1px solid var(--cooperacion) !important;
    border-right: 1px solid var(--cooperacion) !important;
}
[color="cooperacion-list"] li {
    border-bottom: 1px solid var(--cooperacion) !important;
}

[color="cooperacion-list"] a {
    color: var(--cooperacion) !important;
}
/* End Color Cooperacion */

/* Color SICyT */
[color="sicyt"] {
    background-image: linear-gradient(to right, rgba(var(--sicyt-rgba), .95) 55%, rgba(var(--sicyt-rgba), 0.6)), url('../images/sicyt.png');
    text-shadow: 2px 2px 2px #023882;
}
[color="sicyt"]:hover {
    background-image: linear-gradient(to right, rgba(var(--sicyt-rgba), 0.95) 60%, rgba(var(--sicyt-rgba), 0.6)), url('../images/sicyt.png');
}
[color="sicyt"] span {
    color: var(--sicyt);
}
[color="sicyt-list"] {
    border-bottom: 1px solid var(--sicyt) !important;
    border-left: 1px solid var(--sicyt) !important;
    border-right: 1px solid var(--sicyt) !important;
}
[color="sicyt-list"] li {
    border-bottom: 1px solid var(--sicyt) !important;
}

[color="sicyt-list"] a {
    color: var(--sicyt) !important;
}
/* End Color SICyT */

/* Color Bienestar */
[color="bienestar"] {
    background-image: linear-gradient(to right, rgba(var(--bienestar-rgba), .95) 45%, rgba(var(--bienestar-rgba), 0.6)), url(../images/bienestar.png);
    text-shadow: 2px 2px 2px #104234;
}
[color="bienestar"]:hover {
    background-image: linear-gradient(to right, rgba(var(--bienestar-rgba), .95) 50%, rgba(var(--bienestar-rgba), 0.6)), url('../images/bienestar.png');
}
[color="bienestar"] span {
    color: var(--bienestar);
}
[color="bienestar-list"] {
    border-bottom: 1px solid var(--bienestar) !important;
    border-left: 1px solid var(--bienestar) !important;
    border-right: 1px solid var(--bienestar) !important;
}
[color="bienestar-list"] li {
    border-bottom: 1px solid var(--bienestar) !important;
}

[color="bienestar-list"] a {
    color: var(--bienestar) !important;
}
/* End Color Bienestar */

/* Color Virtual */
[color="virtual"] {
    background-image: linear-gradient(to right, rgba(var(--virtual-rgba), .95) 45%, rgba(var(--virtual-rgba), 0.6)), url(../images/virtual.png);
    text-shadow: 2px 2px 2px #104234;
}
[color="virtual"]:hover {
    background-image: linear-gradient(to right, rgba(var(--virtual-rgba), .95) 50%, rgba(var(--virtual-rgba), 0.6)), url('../images/virtual.png');
}
[color="virtual"] span {
    color: var(--virtual);
}
[color="virtual-list"] {
    border-bottom: 1px solid var(--virtual) !important;
    border-left: 1px solid var(--virtual) !important;
    border-right: 1px solid var(--virtual) !important;
}
[color="virtual-list"] li {
    border-bottom: 1px solid var(--virtual) !important;
}

[color="virtual-list"] a {
    color: var(--virtual) !important;
}
/* End Color Virtual */

/* Color Administracion */
[color="administracion"] {
    background-image: linear-gradient(to right, rgba(45, 45, 45, 0.97) 50%, rgba(64, 64, 64, 0.6)), url(../images/administracion.png);
    text-shadow: 2px 2px 2px #00000030;
}
[color="administracion"]:hover {
    background-image: linear-gradient(to right, rgba(45, 45, 45, 0.97) 60%, rgba(64, 64, 64, 0.6)), url(../images/administracion.png);
}
[color="administracion"] span {
    color: black !important;
}
[color="administracion-list"] {
    border-bottom: 1px solid black !important;
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
}
[color="administracion-list"] li {
    border-bottom: 1px solid black !important;
}

[color="administracion-list"] a {
    color: black !important;
}
/* End Color Administracion */

/* Color Academica */
[color="academica"] {
    background-image: linear-gradient(to right, rgba(var(--academica-rgba), .9) 50%, rgba(var(--academica-rgba), 0.6)), url(../images/academica.png);
    text-shadow: 2px 2px 2px #104f7d;
}
[color="academica"]:hover {
    background-image: linear-gradient(to right, rgba(var(--academica-rgba), .95) 60%, rgba(var(--academica-rgba), 0.6)), url(../images/academica.png);
}
[color="academica"] span {
    color: var(--academica);
}
[color="academica-list"] {
    border-bottom: 1px solid var(--academica) !important;
    border-left: 1px solid var(--academica) !important;
    border-right: 1px solid var(--academica) !important;
}
[color="academica-list"] li {
    border-bottom: 1px solid var(--academica) !important;
}

[color="academica-list"] a {
    color: var(--academica) !important;
}
/* End Color Academica */

/* Color DeptoCBA */
[color="deptoCBA"] {
    background-image: linear-gradient(to right, rgba(var(--primary-color-rgba), 0.95) 50%, rgba(var(--primary-color-rgba), 0.6));
    text-shadow: 2px 2px 2px rgb(25, 120, 165);
}
[color="deptoCBA"]:hover {
    background-image: linear-gradient(to right, rgba(var(--primary-color-rgba), 0.95) 60%, rgba(var(--primary-color-rgba), 0.6));
}
[color="deptoCBA"] span {
    color: var(--primary-color);
}
[color="deptoCBA-list"] {
    border-bottom: 1px solid var(--primary-color) !important;
    border-left: 1px solid var(--primary-color) !important;
    border-right: 1px solid var(--primary-color) !important;
}
[color="deptoCBA-list"] li {
    border-bottom: 1px solid var(--primary-color) !important;
}

[color="deptoCBA-list"] a {
    color: var(--primary-color) !important;
}
/* End Color DeptoCBA */

/* Color DeptoCSH */
[color="deptoCSH"] {
    background-image: linear-gradient(to right, rgba(var(--primary-color-rgba), 0.95) 50%, rgba(var(--primary-color-rgba), 0.6));
    text-shadow: 2px 2px 2px rgb(25, 120, 165);
}
[color="deptoCSH"]:hover {
    background-image: linear-gradient(to right, rgba(var(--primary-color-rgba), 0.95) 60%, rgba(var(--primary-color-rgba), 0.6));
}
[color="deptoCSH"] span {
    color: var(--primary-color);
}
[color="deptoCSH-list"] {
    border-bottom: 1px solid var(--primary-color) !important;
    border-left: 1px solid var(--primary-color) !important;
    border-right: 1px solid var(--primary-color) !important;
}
[color="deptoCSH-list"] li {
    border-bottom: 1px solid var(--primary-color) !important;
}

[color="deptoCSH-list"] a {
    color: var(--primary-color) !important;
}
/* End Color DeptoCSH */

