.container--areas {
    margin: 0 auto;
    width: 100%;
    padding: 0 35px;
}

.container--areas-title {
    margin: 50px 0 40px;
    padding: 0;
    width: 100%;
    text-align: center;
}
.container--areas-title h3 {
    color: var(--title-color);
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 2.5rem;
}

.container--areas-title p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container--areas-title p img {
    width: 2em;
}

.container--areas-title p::before,
.container--areas-title p::after {
    content: "";
    height: 4px;
    border-bottom: 1px solid var(--decoration-color);
    top: 0;
    width: 80px;
}

.container--areas-title p::before {
    margin-right: 10px;
}
.container--areas-title p::after {
    margin-left: 10px;
}

#areas {
    width: 100%;
    margin: 0 0 150px 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: auto;
    grid-gap: 20px;
}

.areas--depto ul {
    background-color: var(--white-color);
    border-radius: 0 0 5px 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.areas--depto ul li a, .areas--depto ul li a:visited {
    color: #0c5677;
    font-weight: 400;
}
.areas--depto ul li {
    transition: all .3s ease;
}
.areas--depto ul li:last-child {
    border-radius: 0 0 5px 5px;
}
.areas--depto ul li:hover {
    background-color: var(--primary-color);
}
.areas--depto ul li:hover a {
    color: var(--white-color);
}

.areas--depto-list, .areas--depto-list:hover {
    padding: 11px 9px;
    background: #06b189 !important;
    color: white;
}
.areas--depto-listItem {
    background: #06b18963;
    color: #036b53;
}


.areas--link {
    background-image: linear-gradient(to right, rgba(var(--primary-color-rgba), 0.85) 40%, rgba(var(--primary-color-rgba), 0.7)), url(https://cdn.24.co.za/files/Cms/General/d/4746/3537fb30c0784830b02465ae331d2454.jpg);
    background-size: 25rem;
    padding: 1.5rem 1rem;
    border-radius: 7px 7px 0 0;
    text-align: left;
    font-size: 1.5rem;
    color: var(--white-color);
    font-weight: 400;
    transition: all .3s ease;
}
.areas--link:hover {
    background-image: linear-gradient(to right, rgba(var(--primary-color-rgba), 0.9) 40%, rgba(var(--primary-color-rgba), 0.85)), url(https://cdn.24.co.za/files/Cms/General/d/4746/3537fb30c0784830b02465ae331d2454.jpg);
    background-size: 28rem;
}

.areas--depto li {
    border-bottom: 1.5px solid #d8d8d89e;
}
.areas--depto li :last-child {
    border-bottom: none;
}

.areas--depto li a {
    width: 100%;
    display: inline-block;
    padding: 20px 10px;
}