@import "general.css";
@import "index.css";

/* Media Queries */
@media only screen and (max-width: 1160px) {}

@media only screen and (max-width: 900px) {
    /* --- MENU RESPONSIVE --- */
    .menu__items {
        top: 12%;
    }
    .menu__list-item a {
        font-size: 2rem;
    }

    .menu__info {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .menu__contact {
        margin-bottom: 20px;
    }
    .menu__contact a {
        line-height: 1.5;
    }
    .menu__socialMedia i:first-child {
        margin-left: 0;
    }
    /* --- MENU RESPONSIVE --- */
}

@media only screen and (max-width: 800px) {}