@import "general.css";
@import "index.css";
@import "area.css";

/* Media Queries */
@media only screen and (max-width: 1160px) {
    /* --- MENU --- */
    #navbar {
        background-color: var(--white-color);
        border-bottom: 3px solid var(--primary-color);
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: auto;
        padding: 8px 30px;

    }
    .navbar--menu, .navbar--contact, .navbar--logo {
        display: none;
    }
    .navbar--logo-responsive {
        display: flex !important;
        justify-content: flex-start;
        align-items: center;

    }
    .navbar--logo-responsive img {
        width: 10%;
    }
    .navbar--logo-responsive p {
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
        color: #2f2f2f;
    }
    navbar--logo-responsive:visited p, .navbar--logo-responsive:active p, .navbar--logo-responsive:hover p {
        color: #2f2f2f;
    }
    .icon-responsive {
        display: flex !important;
        justify-content: flex-end;
        align-items: center;
        font-size: 1.5rem;
        color: var(--primary-color);
    }
    /* --- MENU --- */

    /* --- AREAS --- */
    .container--areas-title p img {
        width: 3%;
    }

    .container--areas {
        padding: 0 40px;
    }
    #areas {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 200px);
        grid-gap: 15px;
    }
    .areas--depto {
        background-size: 35rem;
    }
    .areas--depto:hover {
        background-size: 37rem;
    }
    /* --- AREAS --- */
}

@media only screen and (max-width: 900px) {
    /* --- MENU --- */
    .navbar--logo-responsive img {
        width: 15%;
    }
    /* --- MENU --- */

    /* --- AREAS --- */
    #header p {
        width: 80%;
    }

    .container--areas-title p img {
        width: 5%;
    }

    .container--areas {
        padding: 0 20px;
    }
    #areas {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 200px);
    }
    .areas--depto {
        background-size: 50rem;
    }
    /* --- AREAS --- */

    /* --- OTROS SITIOS --- */
    #otrosSitios {
        grid-template-columns: repeat(2, calc(100%/4));
        grid-template-rows: repeat(2, 100px);
        grid-gap: 20px;
        height: 250px;
    }
    
    #otrosSitios img {
        width: 100%;
        margin: 0;
    }
    /* --- OTROS SITIOS --- */

    /* --- MENU RESPONSIVE --- */
    .menu__items {
        top: 12%;
    }
    .menu__list-item a {
        font-size: 2rem;
    }

    .menu__info {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .menu__contact {
        margin-bottom: 20px;
    }
    .menu__contact a {
        line-height: 1.5;
    }
    .menu__socialMedia i:first-child {
        margin-left: 0;
    }
    /* --- MENU RESPONSIVE --- */
}

@media only screen and (max-width: 800px) {
    /* --- Header Index --- */
    #header {
        padding: 0 0 0 40px;
    }
    #header h1 {
        font-size: 2.5rem;
        line-height: 1.2;
        margin-bottom: 15px;
    }
    /* --- Header Index --- */

    section#headerArea {
        height: auto;
        padding: 50px 0;
    }
    section#headerArea h1 {
        font-size: 1.4rem;
    }

    .headerArea__content {
        width: 90%;
    }

    .sitios--content {
        grid-template-columns: 40px 90%;
    }

    #sitios {
        margin: 20px 0 100px;
        border-radius: 3px;
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        grid-template-rows: 1fr;
        grid-gap: 20px;
    }
}

@media only screen and (max-width: 700px) {
    /* --- MENU --- */
    .navbar--logo-responsive img {
        width: 20%;
    }
    /* --- MENU --- */
}